@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Rubik');

html {
  font-family: 'Fira Sans';
}

body {
  background-color: white;
}

.ant-btn-primary {
  background-color: #0f2ff1;
}

.ant-menu-horizontal {
  text-align: right;
}

.ant-list {
  font-family: 'Rubik';
}

.ant-layout-content {
  border-top: 1px solid #cacad9;
}

.ant-menu {
  box-shadow: 0 0 10px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.16);
  background-color: #0f2ff1;
  border-bottom: 1px solid #cacad9;
  font-family: 'Fira Sans';
  color: #f3f3f3;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  color: #f6f6f6;
  border-bottom: 2px solid white;
}

.ant-menu-horizontal > .ant-menu-item-selected {
  color: #f6f6f6;
  border-bottom: 2px solid white;
}

.ant-menu-submenu-title {
  color: #fff;
}

.ant-menu-submenu-title:hover {
  color: #eff1f3;
}

li.ant-menu-item-active {
  color: #1d2129;
}


.ant-menu-item-group-list .ant-menu-item {
  color: #1d2129;
}

.ant-menu-item-group-list .ant-menu-item:hover {
  color: #2196f3;
  background-color: #eff1f3;
}

.ant-menu-horizontal > .ant-menu-item:hover {
  color: #eff1f3;
  border-bottom: 2px solid white;
}

.ant-list-item {
  background-color: #eff1f3;
  border-radius: 3px;
  margin-top: 20px;
}

.ant-list-item-main {
  padding: 15px 40px;
}

.ant-list-item-extra {
  position: relative;
}

.ant-list-item-extra img {
  position: absolute;
  top: 3%;
  margin-left: -250px;
  width: 230px;
  height: 180px;
}

.ant-menu-vertical .ant-menu-item {
  margin: 0px
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    color: black;
}

.ant-card-actions {
  background: #0f2ff1;
}

.ant-card-actions .anticon svg {
  color: #d4d4d4;
}

.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu:hover {
  border-bottom: 2px solid white;
}


